#htmlBalance{
  font-size: 35px;
}

.betMenu{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}

.divBetButtons{
  display: flex;
}

.button{
  width: 100px;
  height: 25px;
  font-size: 16px;
}

#divEvilButtons{
  margin-left: 900px;
}

.evilButton{
  width: 150px; /* Define a largura do botão */
  height: 25px; /* Define a altura do botão */
  font-size: 16px; /* Define o tamanho da fonte do texto no botão */
}

.track {
  width: 1890px;
  height: 720px;
  background-image: url('./Img/racetrack.png');

}

#car1 {
  position: absolute;
  width: 120px;
  height: 50px;
  top: 214px;
  background-image: url('./Img/CarMB.png');
  background-size: contain;
}
/*Difference 153px*/

#car2 {
  position: absolute;
  width: 120px;
  height: 50px;
  top: 367px;
  background-image: url('./Img/CarRB.png');
  background-size: contain;
}

#car3 {
  position: absolute;
  width: 120px;
  height: 50px;
  top: 520px;
  background-image: url('./Img/CarFr.png');
  background-size: contain;
}

#car4 {
  position: absolute;
  width: 120px;
  height: 50px;
  top: 673px;
  background-image: url('./Img/CarAM.png');
  background-size: contain;
}

#car5 {
  position: absolute;
  width: 120px;
  height: 50px;
  top: 826px;
  background-image: url('./Img/CarMCL.png');
  background-size: contain;
}