.track {
  width: 1905px; /* Alterado para largura de 1920px */
  height: 800px;
  background-image: url('./Img/racetrack.png');
}

.betMenu{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}

.betButtons{
  display: flex;
}

.button{
  width: 150px; /* Define a largura do botão */
  height: 50px; /* Define a altura do botão */
  font-size: 16px; /* Define o tamanho da fonte do texto no botão */
}

#htmlBalance{
  font-size: 35px;
}

#evilButtons{
  margin-left: 900px;
}

#car1 {
  position: absolute;
  width: 120px;
  height: 50px;
  top: 270px;
  background-image: url('./Img/CarMB.png');
  background-size: contain;
}

#car2 {
  position: absolute;
  width: 120px;
  height: 50px;
  background-image: url('./Img/CarRB.png');
  background-size: contain;
  top: 440px;
}

#car3 {
  position: absolute;
  width: 120px;
  height: 50px;
  background-image: url('./Img/CarFr.png');
  background-size: contain;
  top: 610px;
}

#car4 {
  position: absolute;
  width: 120px;
  height: 50px;
  background-image: url('./Img/CarAM.png');
  background-size: contain;
  top: 780px;
}

#car5 {
  position: absolute;
  width: 120px;
  height: 50px;
  background-image: url('./Img/CarMCL.png');
  background-size: contain;
  top: 950px;
}
